body {
    font: 20px 'Open Sans', Sans-serif;
    text-decoration: none;
    width: 70%;
    min-width: 500px;
    margin: 0px auto;
    padding: 0px;
}
a {
    font: 20px 'Open Sans', Sans-serif;
    text-decoration: none; 
}
.wrapper {
    border-radius: 10px;
    background: #F6F6F6;
    margin: 5px;
}
.page-content-header {
    text-align: center;
    font-size: 25px;
    color: #3388ac;
    font-weight: bold;
}
.page-content-sub-header {
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
}
.lib-name-font {
    font-family: 'Berkshire Swash';
}
.page-contents-value {
    padding: 10px;
    min-height: 300px;
}
.code {
    border: 1px dotted lightblue;
    color: navy;
    font-family: monospace, courier;
    padding: 10px;
    margin: 10px;
}
.inline_code {
    color: navy;
    font-family: monospace, courier;
    padding: 10px;
}
.comment {
    border: none;
    color: green;
    margin: 0px;
    padding: 0px;
}
.author {
    color: grey;
    font-size: 14px;
    font-weight: normal;
}
.menu {
    margin: 0px;
    list-style-type: none;
    padding: 10px;
    background: #2B2B2B;
    border-bottom: 2px double #DE1B1B;
}
.menu-list {
    padding: 10px;
    display: inline;
}
.menu-list:hover {
    text-decoration: underline;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 28px;
}
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    border-radius: 28px;
}